# ignore the files used for creating the video
files/
reordered/

# ignore the python script as well
very_temp.py

# ignore the output videos (the video to be published is titled training_time_lapse.mp4)
output*
training_time_lapse_hd.mp4
